<app-navbar
  (moduleSelected)="onModuleSelected($event)"
  (toggleSidebar)="toggleSidebar()"
></app-navbar>

<div class="d-flex vh-100 overflow-hidden">
  <!-- Sidebar -->
  <div
    class="bg-white border-end transition-all"
    [ngClass]="{
      'sidebar-expanded': !isSidebarCollapsed,
      'sidebar-collapsed': isSidebarCollapsed
    }"
  >
    <app-left-section
      [module]="selectedModule"
      (optionSelected)="onSidebarOptionSelected($event)"
      [collapsed]="isSidebarCollapsed"
    ></app-left-section>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1 p-3 overflow-auto">
    <app-breadcrumb></app-breadcrumb>
    <app-center-section
      [option]="selectedOption"
      [module]="selectedModule"
      (moduleChanged)="onModuleSelected($event)"
      (optionChanged)="onSidebarOptionSelected($event)"
    ></app-center-section>
  </div>
</div>
