<p
  class="text-muted fw-semibold px-3 pt-3 small text-uppercase"
  *ngIf="!collapsed"
>
  {{ module }}
</p>

<ul class="nav flex-column px-2">
  <li
    class="nav-item"
    *ngFor="let option of options"
    [title]="collapsed ? option : ''"
  >
    <a
      class="nav-link py-2 d-flex align-items-center text-dark rounded"
      (click)="selectOption(option)"
    >
      <i [ngClass]="getIcon(option)" class="me-2"></i>
      <span *ngIf="!collapsed">{{ option }}</span>
    </a>
  </li>
</ul>
